
.aboutme-pages {
  margin: .3em;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  background-color: black;
}

.about-content-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  padding-top: 4vh;
  padding:4em;
  gap: 4vh;
  flex-direction: column;
}

.about-content-wrapper2{
  padding-top: 4vh;
}
.ab-div2{
  display: grid;
  gap: 4vh;
}

.about-nav {
  background-color: black;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 12px 12px 0 0;
}

.whitecontainer, .whitecontainerorange {
  min-height: 100vh;
  width: 100%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background: rgb(216, 162, 243);
  background: linear-gradient(
    184deg,
    rgba(226, 170, 255, 1) 0%,
    rgba(221, 160, 221, 1) 0%
  );
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.38);
  background-color: #181818;
}


.whitecontainerorange {
 background: black;
 border: var(--border-line);
}

.aboutpage {
  padding-top: 10vh;
}

.aboutherocontainer {
  display: grid;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}

.aboutherocontainer .p-20{
  padding: 2em 0;
}
.p-2{
padding: 0 2em;
}
.aboutherocontainer .fadeIndiv {
  animation: fadeIn 1s ease-in-out;
}

.profilegrid {
  display: flex;
  gap: 0.1em;
  padding: 2em;
}

.profilediv, .contactprofilediv{
  height: 100px;
  width: 100px;
  transition: var(--animationSmooth);
  border-radius: 50%;
  cursor: pointer;
  border: var(--border-line);
}

.contactprofilediv{
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.profilediv:hover {
  animation: logo-spin 0.3s ease;
}

.mediv,
.syddiv {
  position: relative;
  background-image: url("../../images/profile.webp");
  background-size: contain;
  background-position: center;
}

.proDiv {
  display: flex;
}

.proDiv span {
  background-color: var(--orange);
  height: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 1em;
}

.syddiv {
  background-image: url("../../images/syd.webp");
}

.orangedot,
.orangeColor {
  color: var(--orange);
}

.textexpandDiv {
  min-height: 150px;
  max-width: 80%;
  padding: 0;
  display: flex;
  align-items: center;
}

#animatetext1,
#animatetext2,
#animatetext3 {
  transform: translateY(100%);
}

.about-wrapper2{
  width: 100%;
  display: flex;
  height: 100%;
  padding-top: 4vh;
  padding-left: 4vh;
  gap: 4vh;
  flex-direction: column;
}

@media only screen and (max-width: 867px) {
  .aboutherocontainer div {
    overflow: hidden;
  }
  .aboutpage {
    padding-top:4vh ;
  }

  .aboutherocontainer {
    grid-template-columns: 1fr;
  }

 
  .profilediv {
    width: 80px;
    height: 80px;
  }

  .textexpandDiv {
    width: 100%;
  }
  .aboutme-pages{
    padding: 3px;
  }
  

  .about-content-wrapper {
    width: 100%;
    display: flex;
    padding-top: 4vh;
    padding: 0;
    gap: 0;
  }
  .pad-20{
    display: grid;
    padding: 2em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
