.text-animation-container {
  text-align: center;
}



.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.inline-flex {
  display: inline-flex;
}

.overflow-y-clip {
  overflow-y: clip;
}

.will-change-transform {
  will-change: transform;
}
