.text-animation-container {
  text-align: center;
}


.text-accent-400 {
  color: var(--color1); /* Adjust color as needed */
}

.leading-tighter {
  line-height: 1.1;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.inline-flex {
  display: inline-flex;
}

.overflow-y-clip {
  overflow-y: clip;
}

.will-change-transform {
  will-change: transform;
}
