.hero-container {
  min-width: 100%;
  min-height: 90vh;
  position: relative;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  background-image: url("../../../src/images/hello.webp");
}

.hero-caption {
  margin-top: 40px;
  flex-direction: column;
  padding: 20px;
}

.hero-headtextt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: bold;
}

.arrowdiv {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.hero-headtextt h1 {
  font-size: 4em;
  margin-top: 12px;
  letter-spacing: -2px;
}
.linehero {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.span-container {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}
.oshin-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
  font-weight: 400;
  width: 400px;
  margin-top: 20px;
  margin-left: 50px;
}

.oshin-container span {
  font-size: 1.44em;
  text-align: left;
  text-transform: capitalize;
}
.hero-headtext .o2 {
  color: var(--orange);
}
.smallp {
  font-size: 15px;
  text-align: left;
  line-height: 1.4;
  font-weight: 400;
  text-transform: capitalize;
}

.smallestp {
  font-size: 14px;
}

.view-hero-header {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: hidden;
  border-bottom: var(--border-line);
  height: 50px;
  justify-items: flex-start;
}

.explore-text {
  padding-left: 30px;
}

.view-hero-header-details {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 0 10px;
  line-height: normal;
  align-content: space-around;
  justify-items: center;
}


@media (max-width: 780px) {
  .hero-container {
    min-height: 70vh;
  }
  .hero-overlay {
    min-height: 100%;
  }
  .view-hero-header-details {
    grid-template-columns: 1fr;
  }
  .hero-caption {
    padding: 10px;
  }
  .hero-headtextt {
    line-height: 1;
  }
  .hero-headtextt h1 {
    font-size: 3.2em;
    width: 50%;
  }
  .oshin-container {
    width: 80%;
  }
  .oshin-container span {
    font-size: 1em;
    margin-left: 0;
  }
}
