.hamburger {
  padding: 1em;
  cursor: pointer;
  will-change: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  width: 22px;
  height: 1.1px;
  z-index: 90;
  top: 23%;
  left: 23%;
  will-change: opacity;
  transition: opacity 0.2s ease-in-out;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 22px;
  height: 1.1px;
  position: absolute;
  z-index: 90;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -5px;
}

.hamburger-inner::after {
  bottom: -5px;
}

/* 3DX Animation */
.hamburger--3dx .hamburger-inner {
  transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  transition: transform 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
  background-color: var(--orange);
  color: var(--orange);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
  background-color: var(--orange);
  color: var(--orange);
}
