.project-section {
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: var(--black);
  color: var(--color2);
  padding: var(--pagePadding);
}

.project-wrapper {
  padding-top: 1rem;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  margin-top: 1em;
}

.project-button {
  border: none;
  padding: 0;
  text-align: left;
  background-color: inherit;
  color: var(--color2);
  min-height: 100%;
  display: flex;
  gap: 0.7em;
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #939393;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
}

.project-description {
  margin-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.btn-image-div {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Aspect ratio of 4:3 for better image scaling */
  background-color: pink;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: var(--navanimationslow2);
}

.project-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.view-btn {
  justify-content: center;
  opacity: 0;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  position: absolute;
  display: flex;
  gap: 1em;
  z-index: 9;
  transition: var(--animationSmooth);
  background-color: #333;
  padding: 0.6em 0.5em;
  border-radius: 5px;
}

.vd1 {
  background-color: gray;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-image-div:hover .view-btn {
  opacity: 1;
}

.project-description ul {
  display: flex;
  gap: 2em;
  text-transform: capitalize;
}

.phone-btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.phoneBtn {
  margin: 2em 0;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  background-color: inherit;
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: var(--navanimationslow);
}

.phoneBtn:hover {
  transform: scale(1.1);
  background-color: #f0f0f01b;
  backdrop-filter: blur(10px);
  border-color: rgb(209, 209, 209);
}

.phone-btn-div .box {
  height: 1.7em;
  width: 1.7em;
  border: 2px solid var(--orange);
}

@media only screen and (max-width: 720px) {
  .project-section {
    margin-top: 4vh;
    border-radius: 38px;
  }

  .projectgrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media only screen and (min-width: 2000px) {
  .project-wrapper {
    padding: var(--contentPadding);
  }
  .project-image {
    max-width: 90%;
  }
}
