.project-section {
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: var(--black);
  color: var(--color2);
  padding: var(--pagePadding);
  min-height: 70vh;
}

.project-wrapper {
  padding-top: 1rem;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
}
.projectgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.phone-btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.phoneBtn {
  margin: 2em 0;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  background-color: inherit;
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: var(--navanimationslow);
}

.phoneBtn:hover {
  transform: scale(1.1);
  background-color: #f0f0f01b;
  backdrop-filter: blur(10px);
  border-color: rgb(209, 209, 209);
}

.phone-btn-div .box {
  height: 1.7em;
  width: 1.7em;
  border: 2px solid var(--orange);
}

@media only screen and (max-width: 720px) {
  .project-section {
    margin-top: 4vh;
    border-radius: 38px;
  }

  .projectgrid {
    display: grid;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
  }

  .project-button {
    width: 100%;
  }

  .btn-image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 2000px) {
  .project-wrapper {
    padding: var(--contentPadding);
  }

  .project-image {
    max-width: 90%;
  }
}
