.project-section {
  min-height: 100%;
  min-width: 100%;
  border-radius: 12px 12px 0 0;
  background: var(--black);
  color: #f0f0f0;
  z-index: 40;
  padding: var(--pagePadding);
}
.project-wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 2em;
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  min-height: 100%;
}
.Contactprojectgrid {
  gap: 0.7em;
}

.project-button {
  border: none;
  padding: 0;
  text-align: left;
  background-color: inherit;
  color: white;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 1em;
  margin-top: 1em;
  transition: var(--navAnimationSlow2);
  border-bottom: var(--borderLine);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.project-title {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: -0.3px;
}

.project-description {
  margin-top: 1em;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
  justify-content: space-between;
}

.btn-image-div {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1720983590448-28b749bd403d?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: var(--navanimationslow2);
}

.project-image {
  width: 90%;
  max-width: 90%;
  border-radius: 7px;
  z-index: 3;
  box-shadow: var(--box-shadow);
}
.view-btn {
  justify-content: center;
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 9;
  transition: var(--animationSmooth);
  background-color: #333;
  padding: 0.8em 1em;
  border-radius: 2em;
}

.btn-image-div:hover .view-btn {
  opacity: 1;
}
.project-description ul {
  display: flex;
  gap: 2em;
  text-transform: capitalize;
}
.phone-btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.phoneBtn {
  margin: 2em 0;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  background-color: inherit;
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: var(--navanimationslow);
}

.phoneBtn:hover {
  transform: scale(1.2);
  background-color: #f0f0f01b;
  backdrop-filter: blur(10px);
  border-color: rgb(209, 209, 209);
}

.phone-btn-div .box {
  height: 1.7em;
  width: 1.7em;
  border: 2px solid var(--orange);
}

@media only screen and (max-width: 720px) {
  .project-section {
    border-radius: 4em;
  }
  .projectgrid,
  .Contactprojectgrid {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}

@media only screen and (min-width: 2000px) {
  .project-wrapper {
    padding: var(--contentPadding);
  }
  .project-image {
    max-width: 90%;
  }
}
