.whitebtn-div {
  flex-direction: column;
  gap: 2em;
  padding: 4vh;
  color: var(--color1);
  overflow: hidden;
  width: 100%;
  transition: var(--navanimationslow2);
}

.bigH {
  padding: 6vw 0 4vw;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: left;
  text-transform: uppercase;
}
.bigH span {
  overflow: hidden;
}
.flex-st {
  display: flex;
  gap: 7px;
}

.Animation_moveUp__VYhva {
  transform: translateY(120%);
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.m-small {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.s-text-grid {
  display: flex;
  gap: 1em;
  flex-direction: column;
  max-width: 34.75vw;
  margin-bottom: 20px;
}
.m-small300 {
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .whitebtn-div {
    padding: var(--padding-mobile);
    min-height: 70vh;
  }

  .m-small {
    grid-template-columns: 1fr;
    gap: 2vh;
    gap: 2em;
  }
  .bigH {
    min-height: 20vh;
    line-height: 0.9;
  }
  .s-text-grid {
    max-width: none;
    width: 100%;
  }
}
