.Homefooter {
  background-color: var(--black);
  color: #dedede;
  min-width: 100%;
  padding: var(--pagePadding);
  z-index: 300;
  display: flex;
  align-items: center;
  min-height: fit-content;
}

.Homefooter-wrapper {
  min-width: 100%;
  min-height: 100%;
}

.Homefooter p {
  color: white;
}
.small-footertext {
  max-width: 200px;
  margin-top: 2em;
}

.Homefooter h2 {
  font-size: large;
  line-height: normal;
  letter-spacing: normal;
}

.footer-col h1 {
  font-size: 1.7em;
  font-weight: 400;
  line-height: normal;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin-top: 10px;
  gap: 20px;
  height: auto;
  justify-content: space-around;
}

.footer-col {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.aligned-paragraphs {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.aligned-paragraphs p,
.aligned-paragraphs li {
  width: 100%;
  margin: 0;
}

.aligned-paragraphs li {
  padding: 10px 0;
  color: #ccc;
  border-bottom: 1px solid rgb(55, 55, 55);
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 10em;
  z-index: 80;
}

.back-to-top button {
  display: flex;
  align-items: center;
  will-change: opacity;
  justify-content: space-around;
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.back-to-top-button:hover {
  opacity: 0.7;
}
.btn-reg {
  display: flex;
  font-size: 10px;
  min-width: 200px;
  cursor: pointer;
  color: #f5f5f2;
  min-height: 40px;
  border: none;
  text-transform: uppercase;
  outline: none;
  will-change: auto;
  background-color: rgba(0, 0, 0, 0.822);
  position: fixed;
  right: 40px;
  z-index: 9;
  bottom: 70px;
  transition: var(--navanimationslow);
}
.body-section {
  position: relative;
}

.error {
  color: red;
}

.footer-btn button {
  background-color: #333;
  height: 3em;
  width: 10em;
}

.footer-btn {
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
  padding: 0;
}
.fc-recource {
  margin-top: 1em;
  display: grid;
  gap: 10px;
}
@media only screen and (max-width: 650px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .Homefooter {
    padding: var(--padding-mobile);
    position: relative;
    height: 100%;
  }

  .footer--text h1 {
    font-size: 22px;
    margin-top: 1em;
  }

  .footer--text {
    border-bottom: var(--border-line);
  }

  .footer-col {
    padding: 20px 0;
  }

  .newsletter-div input,
  .newsletter-div button {
    max-width: 100%;
    width: 100%;
    margin: 5px 0;
  }
}
