main {
  min-height: 70vh;
  padding: var(--pagePadding);
}

.maingrid1,
.main-grid-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  overflow: hidden;
}

.maingrid1{
  height: 100%;
}

.maingrid1 ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.maingrid1 ul li {
  text-align: center;
}

.mfs {
  margin-top: 1em;
  border-top: var(--border-line);
}
.fC-wid {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
}
.article {
  display: grid;
  gap: 2em;
}
.main-grid-2 {
  padding: 0 var(--contentPadding);
}

.grey-text {
  margin-right: 5px;
}

.main-f-btn {
  padding-top: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Responsive Styles */
@media (max-width: 850px) {
  .mfs li {
    font-size: 12px;
  }

  main {
    padding: var(--padding-mobile);
  }
  .maingrid1 ul li {
    text-align: left;
  }
  .fC-wid {
    margin-top: 4vh;
  }
  .main-f-btn {
    flex-direction: column;
    gap: 1em;
  }

  .main-grid-2 {
    padding: 0;
  }

  .tech-cut li {
    padding: 0;
  }

  .aboutme-link {
    justify-content: flex-end;
  }
}
