:root {
  --border-line: 1px solid #ccc;
  --color1: #2a2a2a;
  --black: #0f0f0f;
  --color2: #f1f1f1;
  --color3: #e34248;
  --globalMargin: 0 2vw;
  --pagePadding: 2em 1em;
  --padding-mobile: 14px 26px;
  --contentPadding: 2em;
  --box-shadow: 0 0 10px #52525235;
  --animationSmooth: all 200ms ease-out;
  --navCube: cubic-bezier(0.16, 1, 0.3, 1);
  --navanimationslow: 0.6s var(--navCube);
  --navanimationslow2: all 0.5s cubic-bezier(0.7, 0, 0.1, 1);
  --orange: #f96d3f;
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}

html {
  overscroll-behavior: none;
  scrollbar-width: none;
  text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}
.containerAnimate {
  position: relative;
  overflow: hidden;
}
/* hero */
.hero-animate-container {
  display: flex;
  align-items: center;
  height: fit-content;
}

#heroHeader {
  min-width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateY(120%);
  color: white;
  margin: 0;
}
.hero-container {
  min-width: 100%;
  min-height: 90vh;
  position: relative;
  background: center / cover no-repeat url("../../../src/images/hello.webp");
  overflow: hidden;
  margin-top: 4vw;
  background-color: plum;
}

.dd {
  bottom: 0;
  transform: translateY(0);
  position: absolute;
  background-color: transparent;
  right: 1em;
  z-index: 2;
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
}

.spinIcon {
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  transform: rotate(180deg);
}

.spinIcon:hover {
  animation: logo-spin 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.spinIcon-open {
  transform: rotate(0deg);
}

.dd-open {
  transform: translateY(-80px);
}

.nav-dd {
  z-index: 2;
  width: 570px;
  color: white;
  backdrop-filter: blur(6px);
  background-color: rgba(118, 118, 118, 0.4);
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  padding: 1rem;
  gap: 1em;
  line-height: 1.4;
  position: relative;
  overflow: hidden;
}

.expand-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  overflow: hidden;
  right: 10px;
  top: 10px;
}


.arrowdiv {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.linehero,
.span-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.span-container {
  position: relative;
}
.oshin-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.4;
  font-weight: 400;
  width: 500px;
  margin-top: 20px;
  margin-left: 70px;
}

.oshin-container span {
  font-size: 1.44em;
  text-align: left;
  text-transform: capitalize;
}
.hero-headtext .o2 {
  color: var(--orange);
}

.view-hero-header {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: hidden;
  border-bottom: var(--border-line);
  height: 50px;
  justify-items: flex-start;
}

.explore-text {
  padding-left: 30px;
}

.view-hero-header-details {
  background-color: #fafafa;
  border-radius: 5px 5px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 0 10px;
  line-height: normal;
  align-content: space-around;
  justify-items: center;
}

.Text_XL__ku5Fh {
  font-size: 7vw;
  margin: 0;
  line-height: 1;
  letter-spacing: 0.1px;
}

.fC {
  display: flex;
  align-items: center;
}

.headerh2 {
  font-weight: 400;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.link-copy__icon {
  height: 100%;
  width: 10px;
  color: #aeaeae;
  z-index: 10;
  margin-right: 8px;
}

.fStart {
  display: flex;
  align-items: flex-start;
}

.fJc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexSb {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.underline {
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

body {
  color: var(--color1);
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100%;
  max-width: 100vw;
  font-size: 100%;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

input,
textarea,
select {
  padding: 15px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  color: white;
  background-color: inherit;
  border-bottom: var(--border-line);
  display: inline-block;
  transition: all 100ms var(--navCube);
}

textarea,
select {
  background-color: #333;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexStartC {
  display: flex;
  align-items: flex-start;
}

.flexDC {
  display: flex;
  flex-direction: column;
}

.gap1 {
  gap: 0.5em;
}

.flexPage {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overscroll-behavior: none;
  max-width: 100vw;
}

.overlay-base {
  color: white;
  background: rgba(0, 0, 0, 0.182);
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.3);
  justify-content: flex-end;
  padding: 1em;
}

#error-page {
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
}

b {
  color: var(--color3);
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.hide {
  display: none;
}

/* Header */

.header--two {
  display: flex;
  align-items: flex-start;
}

.o2,
.number {
  font-size: 14px;
  letter-spacing: -0.8px;
}

.o2 {
  color: var(--orange);
  margin-left: 5px;
  font-size: 10px;
}

.number {
  color: var(--greycolor);
  font-weight: bolder;
}

h3,
.subtitle,
.name {
  font-size: 1.3em;
  letter-spacing: -0.9px;
  line-height: 1.4;
  font-weight: 400;
}
.name1 {
  padding-top: 0;
  padding-bottom: 1em;
}

.name2 {
  padding: 1em 0;
}

.job-title,
label {
  font-size: 13px;
  color: #5b5b5b;
  margin: 5px 0;
  line-height: 1.2;
}

label {
  color: white;
  font-weight: 400;
}

i {
  font-family: "Times New Roman", Times, serif;
}

.whiteColor {
  color: white;
}

.doublegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.more-button {
  height: 3.8em;
  width: 15em;
  background-color: var(--color1);
  padding: 10px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.about-btn {
  width: 8em;
  height: 3em;
  background-color: plum;
}

.more-button p {
  position: absolute;
  z-index: 2;
}

.more-button::after {
  content: "";
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateY(100%);
  background-color: var(--orange);
  transition: transform 0.4s ease-in-out;
}

.more-button:hover::after {
  transform: translateY(0);
}

.more-btn-div {
  min-height: 20vh;
}

.small-btn {
  height: 2.5em;
  width: 9em;
  margin: 0;
}
.block {
  display: block;
  width: fit-content;
}
h1 {
  line-height: 0.9;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 10px;
  color: inherit;
  text-wrap: balance;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}
p {
  overflow-wrap: break-word;
  font-size: unset;
  font-weight: unset;
}

.sP {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}

.mP {
  color: #0f0f0f;
  font-weight: 450;
  font-style: normal;
  font-size: clamp(1.55em, 2.3vw, 2.5em);
  line-height: 1.45;
}
.mB2 {
  margin-bottom: 2.8vw;
}
.uppercase {
  text-transform: uppercase;
}
@media only screen and (max-width: 850px) {
  .sP {
    font-size: 14px;
    font-weight: 350;
    letter-spacing: -0.5px;
    font-style: normal;
    line-height: 1.6;
  }
  .mP {
    font-weight: 450;
    font-style: normal;
    font-size: clamp(1.5em, 2vw, 2.2em);
    line-height: 1.45;
  }
  .gPadBig {
    padding-top: 6vw;
    padding-bottom: 4vh;
  }

  .hero-overlay {
    padding: 0;
  }
  .name1 {
    padding: 1em 0;
  }
  .doublegrid {
    grid-template-columns: 1fr;
    gap: 5vh;
    margin-top: 4vh;
  }
  .mobileBorder {
    border-top: var(--border-line);
  }
  .bP {
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    text-transform: capitalize;
  }
  .bT4 {
    padding-top: 4vh;
  }

  .header--two {
    font-weight: 450;
    font-size: 1.9em;
    line-height: 1.1;
    justify-content: center;
  }

  .showmobile,
  .hidemobile {
    display: none;
  }
  :root {
    --globalMargin: 0 4vw;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(40deg);
  }
}

@keyframes logo-spin-close {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(0);
  }
}

@media (max-width: 780px) {
  .dd {
    right: auto;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dd-open {
    transform: translateY(30px);
  }
  .expand-icon {
    display: none;
  }

  .nav-dd {
    width: 90%;
  }
  .hero-container {
    min-height: 70vh;
    margin-top: 0;
  }

  .view-hero-header-details {
    grid-template-columns: 1fr;
  }
  .hero-caption {
    padding: 10px;
  }
  
  
  .oshin-container {
    width: 80%;
  }
  .oshin-container span {
    font-size: 1em;
    margin-left: 0;
  }
}
